@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

body {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  background-color: #292d33;
}

main {
  background-color: #5b5e6b;
  width: 24rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (auto)[auto];
      grid-template-rows: repeat(auto, auto);
  gap: .125rem;
  padding: .125rem;
  padding-top: 0;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  -webkit-transition: .3s;
  transition: .3s;
}

main:hover {
  -webkit-box-shadow: 0 2rem 3rem -1rem rgba(0, 0, 0, 0.35);
          box-shadow: 0 2rem 3rem -1rem rgba(0, 0, 0, 0.35);
}

main #display {
  color: #e7e7e7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  height: 10.25rem;
  background-color: #5b5e6b;
  padding: 0.25rem 0;
  overflow: hidden;
}

main #name {
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5 .75rem;
  font-size: .875rem;
  letter-spacing: 1px;
  position: relative;
  background-color: #3f414a;
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}

main #name .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-left: .5rem;
  font-size: .875rem;
}

main #name img {
  margin-right: .5rem;
  cursor: pointer;
}

main #name .slide-in {
  left: 0 !important;
}

main #name #history {
  background-color: #3f414a;
  position: absolute;
  width: 100%;
  height: 8.75rem;
  top: 1.5rem;
  left: 100%;
  overflow-y: scroll;
  padding: .5rem 1rem;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

main #name #history h2 {
  font-size: .875rem;
  margin: 0;
}

main #name #history::-webkit-scrollbar {
  background-color: transparent;
  width: .25rem;
}

main #input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35%;
  padding: .25rem 1rem .25rem 1rem;
  font-size: 1.25rem;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: thin;
}

main #input::-webkit-scrollbar {
  background-color: transparent;
  height: .25rem;
}

main #input::-webkit-scrollbar-thumb {
  height: .125rem;
}

main #output {
  height: 50%;
  width: 100%;
  padding: 0 .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  font-size: 2.125rem;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: thin;
}

main #output::-webkit-scrollbar {
  background-color: transparent;
  height: .125rem;
}

main #output::-webkit-scrollbar-thumb {
  height: .125rem;
}

main button {
  border: none;
  outline: none;
  height: 5rem;
  font-size: 1.25rem;
  -webkit-transition: .1s;
  transition: .1s;
}

main button:active {
  -webkit-transform: scale(0.94);
          transform: scale(0.94);
}

main button:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

main .operators, main #dot {
  background-color: #34353d;
  font-size: 1.625rem;
  color: #70abe6;
}

main button {
  background-color: #3f414a;
  color: #e7e7e7;
}

main button[data-value="0"] {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

main button[data-value="1"] {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/span 1;
}

main button[data-value="2"] {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / span 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/span 1;
}

main button[data-value="3"] {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / span 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/span 1;
}

main button[data-value="4"] {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/span 1;
}

main button[data-value="5"] {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/span 1;
}

main button[data-value="6"] {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/span 1;
}

main button[data-value="7"] {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/span 1;
}

main button[data-value="8"] {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/span 1;
}

main button[data-value="9"] {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/span 1;
}

main #dot {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / span 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
}

main #add {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / span 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
  height: 100%;
}

main #sub {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
  height: 100%;
}

main #mul {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
}

main #div {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
}

main #equals {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / span 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
}

main #ac {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

main #ac, main #equals {
  color: #fc5a5a;
  background-color: #34353d;
}

main #del {
  background-color: #3f414a;
  color: #e0985c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main #del::after {
  position: absolute;
  inset: 0;
  content: " ";
  background-color: transparent;
  display: block;
  width: 100%;
  height: 100%;
}
