@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$bg-dark: rgb(41, 45, 51);
$bg: hsl(230, 8%, 22%);
$bg-0: hsl(230, 8%, 27%);
$bg-0-1: hsl(230, 8%, 39%);
$bg-1: #e7e7e7;
$bg-2: hsl(0, 0%, 88%);
$bg-2-1: hsl(189, 15%, 18%);
$button-color-1: rgb(112, 171, 230);
$button-color-2: #fc5a5a;
$button-color-3: #e0985c;

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background-color: $bg-dark;
}
main {
    background-color: $bg-0-1;
    width: 24rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, auto);
    gap: .125rem;
    padding: .125rem;
    padding-top: 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
    transition: .3s;
    
    &:hover {
        // transform: translateY(-.125rem);
        box-shadow: 0 2rem 3rem -1rem rgba(0, 0, 0, 0.35);
    }

    #display {
        color: $bg-1;
        grid-column: 1 / span 4;
        height: 10.25rem;
        background-color: $bg-0-1;
        // border-radius: .25rem;
        // margin-bottom: .5rem;
        padding: 0.25rem 0;
        overflow: hidden;
    }
    #name {
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5 .75rem;
        // text-transform: uppercase;
        font-size: .875rem;
        letter-spacing: 1px;
        position: relative;
        background-color: $bg-0;
        transform: translateY(-.25rem);

        .brand {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-left: .5rem;
            font-size: .875rem;
        }
        img {
            margin-right: .5rem;
            cursor: pointer;
        }
        .slide-in {
            left: 0 !important;
        }
        #history {
            background-color: $bg-0;
            position: absolute;
            width: 100%;
            height: 8.75rem;
            top: 1.5rem;
            left: 100%;
            overflow-y: scroll;
            padding: .5rem 1rem;
            transition: .2s ease-out;

            h2 {
                font-size: .875rem;
                margin: 0;
            }

            &::-webkit-scrollbar {
                background-color: transparent;
                width: .25rem;
            }
        }
    }
    #input {
        display: flex;
        align-items: center;
        height: 35%;
        padding: .25rem 1rem .25rem 1rem;
        font-size: 1.25rem;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: thin;
        // background-color: rgb(253, 165, 165);

        &::-webkit-scrollbar {
            background-color: transparent;
            height: .25rem;
        }
        &::-webkit-scrollbar-thumb {
            height: .125rem;
        }
    }
    #output {
        height: 50%;
        width: 100%;
        padding: 0 .5rem;
        display: flex;
        align-items: center;
        justify-content:  right;
        font-size: 2.125rem;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: thin;
        // background-color: rgb(126, 177, 197);

        &::-webkit-scrollbar {
            background-color: transparent;
            height: .125rem;
        }
        &::-webkit-scrollbar-thumb {
            height: .125rem;
        }
    }
    button {
        // border-radius: .25rem;
        border: none;
        outline: none;
        height: 5rem;
        font-size: 1.25rem;
        transition: .1s;
    }
    button:active {
        transform: scale(0.94);
    }
    button:hover {
        filter: brightness(.9);
    }
    .operators, #dot {
        background-color: $bg;
        font-size: 1.625rem;
        color: $button-color-1;
    }
    button{
        background-color: $bg-0;
        color: $bg-1;
    }
    button[data-value="0"] {
        grid-row: 6 / span 1;
        grid-column: 1 / span 2;
    }

    @for $i from 1 through 3 {
        button[data-value="#{$i}"]{
            grid-row: 5 / span 1;
            grid-column: $i / span 1;
        }
    }
    $col: 4,5,6;
    @for $j from 1 through 3 {
        button[data-value="#{nth($col, $j)}"]{
            grid-row: 4 / span 1;
            grid-column: $j / span 1;
        }
    }
    $col: 7,8,9;
    @for $j from 1 through 3 {
        button[data-value="#{nth($col, $j)}"]{
            grid-row: 3 / span 1;
            grid-column: $j / span 1;
        }
    }

    

    #dot {
        grid-row: 6 / span 1;
        grid-column: 3 / span 1;
    }
    #add {
        grid-row: 5 / span 1;
        grid-column: 4 / span 1;
        height: 100%;
    }
    #sub {
        grid-row: 4 / span 1;
        grid-column: 4 / span 1;
        height: 100%;
    }
    #mul {
        grid-row: 3 / span 1;
        grid-column: 4 / span 1;
    }
    #div {
        grid-row: 2 / span 1;
        grid-column: 4 / span 1;
    }
    #equals {
        grid-row: 6 / span 1;
        grid-column: 4 / span 1;
    }
    #ac {
        grid-row: 2 / span 1;
        grid-column: 1 / span 2;
    }
    #ac, #equals {
        color: $button-color-2;
        background-color: $bg;
    }
    #del {
        background-color: $bg-0;
        color: $button-color-3;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &::after {
            position: absolute;
            inset: 0;
            content: " ";
            background-color: transparent;
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}